.triggers-panel-scroll {
  overflow: auto;
}

.triggers-panel-container {
  position: relative;

  .zabbix-trigger-name {
    font-weight: bold;
  }

  .zabbix-hostname {
    color: $gray-2;
    margin-left: 1rem;
    font-weight: 500;
  }

  .zbx-description {
    color: $gray-3;
    font-weight: normal;
    margin-left: 0.6rem;

    &--newline {
      margin-left: 0rem;
    }
  }

  .zbx-trigger-tags {
    margin-left: 0.6rem;

    .zbx-tag {
      color: $zbx-tag-color;
      font-weight: 500;
      font-size: 12px;
      margin-right: 4px;
      padding: 1px 6px;
      cursor: pointer;
    }
  }

  .trigger-info-block {
    display: flex;

    i, a {
      margin-right: 0.3rem;
      color: $gray-2;
    }
  }

  .zabbix-trigger-source {
    margin-right: 1.5rem;
    margin-left: 1rem;
    font-weight: 500;
    .gicon-datasources {
      opacity: 0.4;
    }
  }
}

.zbx-trigger-card {
  position: relative;
  padding: 0.5rem 1rem;
}

.zabbix-trigger {
  &--blinked {
    opacity: 0.4;
    animation: zabbix-triggers-icon 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s infinite alternate;
  }
}

.zbx-maintenance-icon {
  color: $orange;
}

.zbx-trigger-highlighted {
  color: $zbx-text-highlighted;

  .alert-rule-item__body,
  .alert-rule-item__header,
  .alert-rule-item__time,
  .zabbix-hostname,
  .zbx-description {
    color: $zbx-text-highlighted;
  }

  .alert-rule-item__text {
    .zbx-trigger-state,
    .zbx-trigger-severity {
      color: $zbx-text-highlighted;
    }
  }

  .zbx-trigger-lastchange .trigger-info-block.zbx-status-icons {
    a, i {
      color: $zbx-text-highlighted;
    }
  }
}

@keyframes zabbix-triggers-icon {
  100% {
    opacity: 1;
  }
}

.triggers-panel-footer {
  text-align: center;
  font-size: 90%;
  line-height: 2px;
  padding-top: 4px;

  ul {
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
  }
  ul > li {
    display: inline; // Remove list-style and block-level defaults
  }
  ul > li > a {
    float: left; // Collapse white-space
    padding: 4px 12px;
    text-decoration: none;
    border-left-width: 0;

    &:hover {
      background-color: $tight-form-func-bg;
    }

    &.active {
      font-weight: bold;
      color: $blue;
    }
  }
}

.ack-tooltip {
  .drop-content {
    // Rewrite tooltip width
    max-width: 70rem !important;
    min-width: 30rem !important;
  }

  .ack-comments {
    width: 60%;
  }

  .ack-add-button {
    padding-top: 1rem;
  }

  table td, th {
    padding-right: 1rem;
  }

  .ack-input-group {
    padding-top: 1rem;

    input {
      border: 1px solid;
      border-radius: 2px;
      width: 50%;
    }

    button {
      margin-left: 1rem;
    }
  }
}

.triggers-severity-config {
  &.gf-form-label {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
  }

  .icon-gf {
    font-size: 200%;
  }
}
