.triggers-panel-scroll {
  overflow: auto;
}

.triggers-panel-container {
  position: relative;

  .zabbix-hostname {
    color: $gray-2;
    margin-left: 1rem;
    font-weight: bold;
  }

  .alert-list-info.alert-list-info-left {
    color: $gray-3;
  }

  .trigger-info-block {
    display: inline;
    i {
      margin-right: 0.4rem;
    }
    i,
    a {
      color: $gray-2;
    }
  }
}

.triggers-panel-footer {
  text-align: center;
  font-size: 90%;
  line-height: 2px;
  padding-top: 4px;

  ul {
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
  }
  ul > li {
    display: inline; // Remove list-style and block-level defaults
  }
  ul > li > a {
    float: left; // Collapse white-space
    padding: 4px 12px;
    text-decoration: none;
    border-left-width: 0;

    &:hover {
      background-color: $tight-form-func-bg;
    }

    &.active {
      font-weight: bold;
      color: $blue;
    }
  }
}

.ack-tooltip {
  .drop-content {
    // Rewrite tooltip width
    max-width: 70rem !important;
    min-width: 30rem !important;
  }

  .ack-comments {
    width: 60%;
  }

  .ack-add-button {
    padding-top: 1rem;
  }

  table td, th {
    padding-right: 1rem;
  }

  .ack-input-group {
    padding-top: 1rem;

    input {
      border: 1px solid;
      border-radius: 2px;
      width: 50%;
    }

    button {
      margin-left: 1rem;
    }
  }
}
