.triggers-panel-scroll {
  overflow: auto;
}

.triggers-panel-container {
  position: relative;

  .zabbix-hostname {
    color: $gray-2;
    margin-left: 1rem;
    font-weight: bold;
  }

  .alert-list-info.zbx-description {
    color: $gray-3;
  }

  .alert-list-footer {
    justify-content: flex-start;
  }

  .trigger-info-block {
    display: inline-flex;

    // &.zbx-status-icons {
    //   margin-bottom: 4px;
    // }

    i, a {
      margin-left: 0.6rem;
      color: $gray-2;
    }

    .zabbix-trigger-source {
      margin-right: 1.5rem;
      font-weight: bold;
      .gicon-datasources {
        opacity: 0.4;
      }
    }
  }

  .card-item-wrapper {
    padding-left: 4px;
  }
}

.zbx-trigger-card {
  position: relative;
  padding: 0.5rem 1rem;

  // &--alerting {
  //   border-bottom-color: rgba(#161719, 1);
  //   box-shadow: 0 0 10px rgba($red, 0.1);
  //   animation: zabbix-triggers-panel 1.6s cubic-bezier(1, .1, .73, 1) 0s infinite alternate;
  // }
  // &--alerting::after {
  //   position: relative;
  // }
  // &--alerting::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   box-shadow: 0 0 10px rgba($red, 1);
  //   opacity: 0;
  //   animation: alerting-panel 1.6s cubic-bezier(1, .1, .73, 1) 0s infinite alternate;
  // }
}

.zabbix-trigger {
  &--blinked {
    opacity: 0.5;
    animation: zabbix-triggers-icon 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s infinite alternate;
  }
}

.zbx-maintenance-icon {
  color: $orange;
}


@keyframes zabbix-triggers-panel {
  100% {
    opacity: 1;
    box-shadow: 0 0 10px 0px rgba($red, 1);
    border-bottom-color: rgba($red, 0.25);
  }
}

@keyframes zabbix-triggers-icon {
  100% {
    opacity: 1;
  }
}

.triggers-panel-footer {
  text-align: center;
  font-size: 90%;
  line-height: 2px;
  padding-top: 4px;

  ul {
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
  }
  ul > li {
    display: inline; // Remove list-style and block-level defaults
  }
  ul > li > a {
    float: left; // Collapse white-space
    padding: 4px 12px;
    text-decoration: none;
    border-left-width: 0;

    &:hover {
      background-color: $tight-form-func-bg;
    }

    &.active {
      font-weight: bold;
      color: $blue;
    }
  }
}

.ack-tooltip {
  .drop-content {
    // Rewrite tooltip width
    max-width: 70rem !important;
    min-width: 30rem !important;
  }

  .ack-comments {
    width: 60%;
  }

  .ack-add-button {
    padding-top: 1rem;
  }

  table td, th {
    padding-right: 1rem;
  }

  .ack-input-group {
    padding-top: 1rem;

    input {
      border: 1px solid;
      border-radius: 2px;
      width: 50%;
    }

    button {
      margin-left: 1rem;
    }
  }
}

.triggers-severity-config {
  &.gf-form-label {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .icon-gf {
    font-size: 200%;
  }
}
