$regex: #d69e2e;

$zbx-tag-color: $gray-5;
$zbx-text-highlighted: $white;
$zbx-text-color-disabled: $gray-1;
$zbx-card-background-start: #2f2f321f;
$zbx-card-background-stop: #262628c7;

$action-button-color: $blue-dark;
$action-button-text-color: $gray-4;

$problems-border-color: #1b1b1b;
$problems-table-stripe: $dark-3;
$problems-table-row-hovered: darken($problems-table-stripe, 2%);
$problems-table-row-hovered-shadow-color: rgba($blue, 0.5);
$problems-table-row-hovered-shadow: 0px 0px 8px $problems-table-row-hovered-shadow-color;
$problem-details-background: $dark-3;

$problem-expander-highlighted-background: #393939;
$problem-expander-highlighted-color: $blue;
$problem-expander-expanded-color: $blue;

$problem-statusbar-background: $dark-2;
$problem-statusbar-muted: $dark-3;
$problem-statusbar-fired: $orange;
$problem-statusbar-glow: 0px 0px 10px rgba($problem-statusbar-fired, 0.1);

$problem-event-highlighted: rgba($white, 0.7);
$problem-event-core-highlighted: $white;
$problem-event-core: #000000;
$problem-event-ok-color: #38bd71;
$problem-event-problem-color: #d70000;

$problem-icon-problem-color: rgb(163, 16, 0);
$problem-icon-ok-color: #629e51;

$problem-container-shadow: $dark-1;
$porblem-ack-shadow: -2px 2px 10px 1px $problem-container-shadow;
