// Grays
// -------------------------
$black:            #000;
$dark-1:           #13161d;
$dark-2:           #1e2028;
$dark-3:           #303133;
$dark-4:           #35373f;
$dark-5:           #41444b;
$gray-1:           #52545c;
$gray-2:           #767980;
$gray-3:           #acb6bf;
$gray-4:           #c7d0d9;
$gray-5:           #dde4ed;
$gray-6:           #e9edf2;
$gray-7:           #f7f8fa;

$white:            #fff;

// Accent colors
// -------------------------
$blue:                  #2AB2E4;
$blue-dark:             #3CAAD6;
$green:                 #28B62C;
$red:                   #FF4136;
$yellow:                #FF851B;
$orange:                #Ff7941;
$pink:                  #E671B8;
$purple:                #9954BB;
$variable:              #2AB2E4;

$body-bg :              $white;
$body-color:            $gray-1;
$text-color:            $gray-1;
$tight-form-func-bg:    $gray-5;
$grafanaListAccent:     $gray-5;
