*.sublime-workspace
*.sublime-project

.idea/
.vscode

*.bat
.DS_Store

# Grafana linter config
# .jshintrc
# .jscs.json
# .jsfmtrc

# Builded docs
docs/site/

# Tests
dist/test/
dist/test-setup/

vendor
src/vendor
src/vendor/npm
node_modules
coverage/
/tmp

artifacts/
work/
e2e-results/
**/cypress/videos
**/cypress/report.json

# Tools logs
npm-debug.log
yarn-error.log

# Built plugin
dist/
ci/
alexanderzobnin-zabbix-app.zip

.eslintcache

# locally required config files
public/css/*.min.css
