*.sublime-workspace
*.sublime-project

.idea/
.vscode

*.bat

# Grafana linter config
# .jshintrc
# .jscs.json
# .jsfmtrc

# Builded docs
docs/site/

# Tests
dist/test/
dist/test-setup/

vendor/npm
src/vendor/npm
node_modules
npm-debug.log
coverage/
.aws-config.json
awsconfig
/emails/dist
/public_gen
/tmp
vendor/phantomjs/phantomjs

# dist/

# locally required config files
public/css/*.min.css
