<div class="triggers-panel-container">
  <div class="triggers-panel-scroll">
    <section class="card-section card-list-layout-list">
      <ol class="card-list">
        <li class="card-item-wrapper" ng-repeat="trigger in ctrl.currentTriggersPage">
          <div class="alert-list card-item zabbix-trigger-card">
            <div class="alert-list-body">
              <div class="alert-list-icon alert-list-item-state alert-list-icon--alerting"
                ng-style="{color: trigger.color}">
                <i class="icon-gf" ng-class="ctrl.getAlertIconClass(trigger)"></i>
              </div>
              <div class="alert-list-main">
                <p class="alert-list-title">
                  {{trigger.description}}
                  <span class="zabbix-hostname" ng-if="ctrl.panel.hostField || ctrl.panel.hostTechNameField">
                    {{ ctrl.formatHostName(trigger) }}
                  </span>
                </p>

                <p class="alert-list-text">
                  <span ng-if="ctrl.panel.statusField" class="alert-list-state" ng-class="ctrl.getAlertStateClass(trigger)">
                    {{ctrl.triggerStatusMap[trigger.value]}}
                  </span>
                  <span ng-if="ctrl.panel.severityField" class="alert-list-state" ng-class="ctrl.getAlertStateClass(trigger)"
                    ng-style="{color: trigger.color}">
                    {{trigger.severity}}
                  </span>
                  for {{trigger.age}}

                  <span class="alert-list-info alert-list-info-left" ng-if="ctrl.panel.descriptionField">
                    {{trigger.comments}}
                  </span>
                </p>
              </div>
            </div>
            <div class="alert-list-footer">
              <div class="trigger-info-block">
                <span ng-if="ctrl.panel.datasources.length > 1" class="alert-list-text zabbix-trigger-source">
                  <i class="gicon gicon-datasources"></i>
                  {{trigger.datasource}}
                </span>
                <span class="alert-list-text">{{trigger.lastchange}}</span>
              </div>

              <div class="trigger-info-block">
                <a ng-if="trigger.url" href="{{trigger.url}}" target="_blank">
                  <i class="fa fa-external-link"></i>
                </a>

                <span ng-if="trigger.state === '1'" bs-tooltip="'{{trigger.error}}'">
                  <i class="fa fa-question-circle"></i>
                </span>

                <ack-tooltip ng-if="trigger.lastEvent" ack="trigger.acknowledges" trigger="trigger"
                  on-ack="ctrl.acknowledgeTrigger" context="ctrl">
                </ack-tooltip>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>

<div class="triggers-panel-footer"></div>
