@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

.wy-side-nav-search, .wy-nav-top {
  background-color: #8e3030;
}

.wy-side-nav-search input[type=text] {
  border-radius: 2px;
  width: 100%;
  border-color: #e3e3e3;
}

/* Content container */
.wy-nav-content {
  max-width: 1200px;
}

.rst-content .section {
  color: #404040;
  font-family: 'Roboto', 'Lato', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
}

.rst-content p {
  margin-bottom: 16px;
  line-height: 24px;
}

.rst-content li {
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 24px;
}

.rst-content img {
  max-width: 80%;
  max-height: 800px;
}

.rst-content blockquote {
  max-width: 80%;
  margin-left: 0em;
  padding: 0 1em;
  color: #757575;
  border-left: 6px solid #e0e0e0;
}

/* Source code highlighting */

code, .rst-content tt {
  font-family: 'Source Code Pro', monospace;
  font-size: 90%;
  color: #404040;
  background-color: #f4f4f4;
  padding: 1px 5px;
  border-radius: 2px;
  border-width: 0;
}

.hljs {
  max-width: 100%;

  /* Colors are from solarized scheme. */
  background-color: #fdf6e3;
  color: #657b83;

  border-width: 0 0 0 4px;
  border-color: #eee8d5;
  border-left-color: #268bd2;

  font-size: 90%;
  line-height: 1.5;
  padding: 0.5em 1em;
}

.hljs-keyword {
  color: #dc322f;
}

.hljs-built_in {
  color: #268bd2;
}

.hljs-string {
  color: #859900;
}

.hljs-variable {
  color: #6c71c4;
}

.btn-neutral:hover {
  background-color: #8e3030 !important;
  color: #f4f4f4 !important;
  box-shadow:
    0px 1px 2px -1px rgba(255,255,255,0.5) inset,
    0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
}

/* Functions list tweaks */

h3 em {
  font-family: 'Source Code Pro', monospace;
  line-height: 2;
  padding-top: 20px;
  font-style: normal;
  padding-bottom: 2px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #2aa198;
  color: #01579b;
}

hr {
  margin: 24px 0 48px 0;
}
