.wy-side-nav-search {
	background-color: #8e3030
}

p {
	margin-bottom: 24px;
}

.rst-content blockquote {
	margin-left: 0px;
	padding: 0 1em;
	color: #777;
	border-left: 0.25em solid #ddd;
}

code, .rst-content tt {
	font-size: 85%;
	color: #404040;
	background-color: #f4f4f4;
	padding: 1px 5px;
	border-radius: 2px;
}

.hljs {
	font-size: 100%;
	line-height: 1.5;
	padding: 1em 0.5em;
	border-radius: 4px;
	border-color: #f4f4f4;
}

.btn-neutral:hover {
	background-color: #8e3030 !important;
	color: #f4f4f4 !important;
	box-shadow:
		0px 1px 2px -1px rgba(255,255,255,0.5) inset,
		0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
}