<div class="editor-row">
  <div class="section">
    <h5>Zabbix trigger
    </h5>
    <div class="editor-option">
      <div class="tight-form">
        <ul class="tight-form-list" role="menu">
          <!-- Host Group -->
          <li class="tight-form-item input-small" style="width: 4em">Group</li>
          <li>
            <input type="text" class="tight-form-input input-medium"
                   ng-model="currentAnnotation.group">
          </li>
          <!-- Host -->
          <li class="tight-form-item input-small" style="width: 3em">Host</li>
          <li>
            <input type="text" class="tight-form-input input-medium"
                   ng-model="currentAnnotation.host">
          </li>
          <!-- Trigger filter -->
          <li class="tight-form-item input-small">
            Trigger
            <i class="fa fa-question-circle"
               bs-tooltip="'Zabbix trigger name or regex for search. Example: Lack of free swap space'"></i>
          </li>
          <li>
            <input type="text" class="tight-form-input input-large"
                   style="width: 20em"
                   ng-model="currentAnnotation.trigger"
                   spellcheck='false'
                   placeholder="Trigger filter (regex)"
                   ng-blur="targetBlur()">
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Options</h5>
    <input type="checkbox" class="cr1" id="currentAnnotation.showOkEvents"
           ng-model="currentAnnotation.showOkEvents"
           ng-checked="currentAnnotation.showOkEvents">
    <label for="currentAnnotation.showOkEvents" class="cr1">Show OK events
      <tip>Show events, generated when trigger release to OK state</tip>
    </label>
  </div>
</div>
