.panel-problems {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fa-icon-container {
    padding-right: 0.4rem;
    color: $gray-2;

    i {
      width: 1rem;
    }

    &.fired {
      color: $problem-statusbar-fired;
      text-shadow: 0px 0px 10px rgba($problem-statusbar-fired, 0.5);
    }
  }

  // <react-table-v8 /> styles
  .react-table-v8 {
    tbody tr {
      border-bottom: solid 1px $problems-border-color;

      &:last-child {
        border-bottom: solid 1px $problems-border-color;
      }
    }
  }
}

.zbx-ack-modal {
  .zbx-ack-error {
    border-color: $btn-danger-bg;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px $btn-danger-bg;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #141619, 0 0 0px 4px $btn-danger-bg;
  }

  .ack-request-error {
    padding-top: 1.2rem;
  }

  .ack-error-message {
    color: $error-text-color;
  }

  .gf-form .gf-form-hint {
    .gf-form-hint-text {
      display: inherit;
      float: right;

      &.ack-error-message {
        float: left;
      }
    }
  }
}

.panel-options-button {
  text-align: left;
}

@keyframes blink-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    color: $dark-3;
    text-shadow: unset;
  }
  100% {
    color: $orange;
    text-shadow: 0px 0px 10px rgba($orange, 0.5);
  }
}

@keyframes blink-shadow {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 3px $orange;
  }
  50% {
    opacity: 0.3;
    text-shadow: 0px 0px 10px $orange;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px $orange;
  }
}
