$regex: #d69e2e;

$zbx-tag-color: $gray-6;
$zbx-text-highlighted: $black;
$zbx-text-color-disabled: $gray-3;
$zbx-card-background-start: rgba(233, 237, 242, 0.35);
$zbx-card-background-stop: rgba(221, 228, 237, 1);

$action-button-color: #497dc0;
$action-button-text-color: $gray-6;

$problems-border-color: #9d9d9d;
$problems-table-stripe: $gray-6;
$problems-table-row-hovered: #a2e0ef;
$problems-table-row-hovered-shadow-color: $blue;
$problems-table-row-hovered-shadow: 0px 1px 8px 1px $problems-table-row-hovered-shadow-color;
$problem-details-background: $gray-6;

$problem-expander-highlighted-background: #424755;
$problem-expander-highlighted-color: #8ad9f5;
$problem-expander-expanded-color: $blue;

$problem-statusbar-background: $gray-4;
$problem-statusbar-muted: $gray-5;
$problem-statusbar-fired: #ca4c17;
$problem-statusbar-glow: inset 0px 0px 10px rgba($problem-statusbar-fired, 0.5);

$problem-event-highlighted: $white;
$problem-event-core-highlighted: $white;
$problem-event-core: $gray-6;
$problem-event-ok-color: #2baf63;
$problem-event-problem-color: #d70000;

$problem-icon-problem-color: rgb(163, 16, 0);
$problem-icon-ok-color: #629e51;

$problem-container-shadow: $gray-3;
$porblem-ack-shadow: -2px 2px 10px 0px $problem-container-shadow;

$problems-footer-shadow: rgba($problem-container-shadow, 0.5);
