<div class="editor-row">
  <div class="section tight-form-container" style="margin-bottom: 20px">
    <h5>Filter Triggers</h5>
    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 80px">
          Group
        </li>
        <li>
          <input type="text"
            ng-model="ctrl.annotation.group"
            class="input-large tight-form-input">
        </li>
        <li class="tight-form-item" style="width: 50px">
          Host
        </li>
        <li>
          <input type="text"
            ng-model="ctrl.annotation.host"
            class="input-large tight-form-input last">
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 80px">
          Application
        </li>
        <li>
          <input type="text"
            ng-model="ctrl.annotation.application"
            class="input-large tight-form-input">
        </li>
        <li class="tight-form-item" style="width: 50px">
          Trigger
        </li>
        <li>
          <input  type="text"
                  ng-model="ctrl.annotation.trigger"
                  class="input-large tight-form-input last">
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Options</h5>
    <div class="editor-option">
      <label class="small">Minimum severity
      </label>
      <select class="small" style="width: 113px" ng-init='ctrl.annotation.minseverity = ctrl.annotation.minseverity || 0' ng-model='ctrl.annotation.minseverity' ng-options="v as k for (k, v) in {'Not classified': 0, 'Information': 1, 'Warning': 2, 'Average': 3, 'High': 4, 'Disaster': 5}" ng-change="render()"></select>
    </div>
    <editor-opt-bool text="Show OK events" model="ctrl.annotation.showOkEvents"></editor-opt-bool>
    <editor-opt-bool text="Hide acknowledged events" model="ctrl.annotation.hideAcknowledged"></editor-opt-bool>
    <editor-opt-bool text="Show hostname" model="ctrl.annotation.showHostname"></editor-opt-bool>
  </div>
</div>
