<div class="tight-form">
  <ul class="tight-form-list pull-right">
    <li class="tight-form-item small" ng-show="ctrl.target.datasource">
      <em>{{ctrl.target.datasource}}</em>
    </li>
    <li class="tight-form-item">
      <div class="dropdown">
        <a class="pointer dropdown-toggle"
           data-toggle="dropdown"
           tabindex="1">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="dropdown-menu pull-right" role="menu">

          <!-- Switch editor mode -->
          <li role="menuitem" ng-show="ctrl.target.mode">
            <a class="pointer" tabindex="1"
               ng-click="ctrl.switchEditorMode(0)">Numeric metrics</a>
          </li>
          <li role="menuitem" ng-show="ctrl.target.mode != 1">
            <a class="pointer" tabindex="1"
               ng-click="ctrl.switchEditorMode(1)">IT services</a>
          </li>
          <li role="menuitem" ng-show="ctrl.target.mode != 2">
            <a class="pointer" tabindex="1"
               ng-click="ctrl.switchEditorMode(2)">Text metrics</a>
          </li>
          <li class="divider" role="menuitem"></li>

          <!-- From app/features/panel/partials/query_editor_row.html -->
          <li role="menuitem">
            <a tabindex="1" ng-click="ctrl.duplicateQuery()">Duplicate</a>
          </li>
          <li role="menuitem">
            <a tabindex="1" ng-click="ctrl.moveQuery(-1)">Move up</a>
          </li>
          <li role="menuitem">
            <a tabindex="1" ng-click="ctrl.moveQuery(1)">Move down</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="tight-form-item last">
      <a class="pointer" tabindex="1" ng-click="ctrl.removeQuery(target)">
        <i class="fa fa-trash"></i>
      </a>
    </li>
  </ul>

  <ul class="tight-form-list">
    <li class="tight-form-item" style="min-width: 15px; text-align: center">
      {{ctrl.target.refId}}
    </li>
    <li>
      <a class="tight-form-item" ng-click="ctrl.toggleHideQuery()" role="menuitem">
        <i class="fa fa-eye"></i>
      </a>
    </li>
  </ul>

  <!-- IT Service editor -->
  <ul class="tight-form-list" role="menu" ng-show="ctrl.target.mode == 1">
    <li class="tight-form-item input-small">IT Service</li>
    <li>
      <select class="tight-form-input input-large"
              ng-change="ctrl.selectITService()"
              ng-model="ctrl.target.itservice"
              bs-tooltip="ctrl.target.itservice.name.length > 25 ? ctrl.target.itservice.name : ''"
              ng-options="itservice.name for itservice in ctrl.itserviceList track by itservice.name">
        <option value="">-- Select IT service --</option>
      </select>
    </li>
    <li class="tight-form-item input-medium">IT service property</li>
    <li>
      <select class="tight-form-input input-medium"
              ng-change="ctrl.selectITService()"
              ng-model="ctrl.target.slaProperty"
              ng-options="slaProperty.name for slaProperty in ctrl.slaPropertyList track by slaProperty.name">
        <option value="">-- Property --</option>
      </select>
    </li>
  </ul>

  <ul class="tight-form-list" role="menu" ng-hide="ctrl.target.mode == 1">

    <!-- Select Host Group -->
    <li class="tight-form-item input-small" style="width: 5em">Group</li>
    <li>
      <input type="text"
        ng-model="ctrl.target.group.filter"
        bs-typeahead="ctrl.getGroupNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="input-medium tight-form-input"
        ng-class="{
          'zbx-variable': ctrl.isVariable(ctrl.target.group.filter),
          'zbx-regex': ctrl.isRegex(ctrl.target.group.filter)
        }">
    </li>

    <!-- Select Host -->
    <li class="tight-form-item input-small" style="width: 3em">Host</li>
    <li>
      <input type="text"
        ng-model="ctrl.target.host.filter"
        bs-typeahead="ctrl.getHostNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="input-large tight-form-input"
        ng-class="{
          'zbx-variable': ctrl.isVariable(ctrl.target.host.filter),
          'zbx-regex': ctrl.isRegex(ctrl.target.host.filter)
        }">
    </li>
    <li class="tight-form-item" ng-hide="ctrl.target.mode == 2">
      Show disabled items&nbsp;
      <editor-checkbox text=""
        model="ctrl.target.showDisabledItems"
        change="ctrl.onTargetBlur()">
      </editor-checkbox>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

<div class="tight-form" ng-hide="ctrl.target.mode == 1">
  <ul class="tight-form-list" role="menu">
    <li class="tight-form-item" style="width: 44px">&nbsp</li>

    <!-- Select Application -->
    <li class="tight-form-item" style="width: 5em">Application</li>
    <li>
      <input type="text"
        ng-model="ctrl.target.application.filter"
        bs-typeahead="ctrl.getApplicationNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="input-medium tight-form-input"
        ng-class="{
          'zbx-variable': ctrl.isVariable(ctrl.target.application.filter),
          'zbx-regex': ctrl.isRegex(ctrl.target.application.filter)
        }">
    </li>

    <!-- Select Item -->
    <li class="tight-form-item input-small" style="width: 3em">Item</li>
    <li>
      <input type="text"
        ng-model="ctrl.target.item.filter"
        bs-typeahead="ctrl.getItemNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="input-large tight-form-input"
        ng-class="{
          'zbx-variable': ctrl.isVariable(ctrl.target.item.filter),
          'zbx-regex': ctrl.isRegex(ctrl.target.item.filter)
        }">
    </li>
    <li class="tight-form-item query-keyword">Options</li>
    <li ng-repeat="func in ctrl.target.functions">
      <span metric-function-editor class="tight-form-item tight-form-func">
      </span>
    </li>
    <li class="dropdown" add-metric-function>
    </li>
  </ul>

  <div class="clearfix"></div>
</div>
<div class="tight-form" ng-hide="ctrl.target.mode === 1" ng-if="ctrl.target.options">
  <ul class="tight-form-list" role="menu">
    <li class="tight-form-item" style="width: 44px">&nbsp</li>
    <li class="tight-form-item query-keyword" style="width: 5em">Options</li>
  </ul>
  <div class="clearfix"></div>
</div>

<div class="tight-form" ng-show="ctrl.target.mode == 2">
  <ul class="tight-form-list" role="menu">
    <li class="tight-form-item" style="width: 44px">&nbsp</li>

    <!-- Text metric regex -->
    <li class="tight-form-item" style="width: 5em" ng-show="ctrl.target.mode == 2">
      Text filter
    </li>
    <li ng-show="ctrl.target.mode == 2">
      <input type="text"
             class="tight-form-input" style="width: 417px"
             ng-model="ctrl.target.textFilter"
             spellcheck='false'
             placeholder="Text filter (regex)"
             ng-blur="ctrl.targetBlur()">
    </li>
    <li class="tight-form-item" ng-show="ctrl.target.mode == 2">
      Use capture groups&nbsp;
      <input class="cr1" id="ctrl.target.useCaptureGroups" type="checkbox"
             ng-model="ctrl.target.useCaptureGroups"
             ng-checked="ctrl.target.useCaptureGroups"
             ng-change="ctrl.targetBlur()">
      <label for="ctrl.target.useCaptureGroups" class="cr1"></label>
    </li>
  </ul>

  <div class="clearfix"></div>
</div>

